
.installed.cfg
*.py[cod]
*.hy[cod]
*$py.class
*.so
*.egg-info
*.egg-info/
*.egg
.eggs/
.Python
__pycache__/
build/
develop-eggs/
dist/
eggs/
share/python-wheels/
wheels/

amp-char/__pycache__/
amp-char/*.py[cod]
amp-char/*.hy[cod]
amp-char/*$py.class